@page
@using System.Linq
@using SEP3.Models
@model SEP3.Pages.UserPage

@{
    Layout = null;
    
}



<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

    <title>Welcome!</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/cool.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>


<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header" >
                <h3>PartyPlanner</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Miguel Martinczech</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parties</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        @foreach (var party in Model.Parties)
                        {
                            <li><a asp-page="./UserPage" asp-route-id="@party.partyID">@Html.DisplayFor(modelItem => party.partyTitle)</a></li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                
                
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Log out</a>
                </li>
            
            

            </ul>
            <div><iframe src="https://open.spotify.com/embed/playlist/6migdqULddRkp7MjmjPsSd" width="250" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>

                <button type="button" id="sidebarCollapse" class="btn btn-info">

                    <a class="" asp-area="" asp-page="/CreatePartyPage">
                        <i class="fas fa-plus"></i>
                        <span>Create party</span>
                    </a>
                </button>

            </div>
        </nav>

        <div class="row h-15 d-flex justify-content-center">
            <div class="card card-1 col-md-10  ">
                <h2 align="center">Party name</h2>
                <p>lalalalla</p>
                <div class=" row d-flex justify-content-center ">


                </div>

            </div>

        </div>

        <div class="row h-50 d-flex justify-content-center ">

        <div class="card card-1 col-md-5  ">
            <h2 align="center">People:</h2>
                
            <table class="table">
                <tbody>
                @foreach (var item in Model.Persons)
                {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>

                        <td>
                            <a asp-page="./Delete" asp-route-id="@item.personID">Delete <i class="fas fa-user-slash"></i></a>
                        </td>
                    </tr>
                }

                <tbody>
            </table>

                <br>
                @*@if (Model.Items == null)
                    {
                    }
                    else
                    {
                        @foreach (var item in Model.Items)
                        {
                            <li>@Html.DisplayFor(modelItem => item.Name)</li>
                        }
                    }

                *@
                <div class=" row d-flex justify-content-center align-self-end ui-widget" style="color:#B9B6E5; ">
                    <form method="get">
                    <input asp-for="Item" type="text"  name="addItem" class="col-md-7"  placeholder="Search..">
                    <button asp-area="" asp-for="SearchPerson" type="button"  class="btn btn-info col-md-2">
                        <i class="fas fa-search"></i>
                    </button>
                    <button asp-area="" asp-for="SearchPerson" type="button" class="btn btn-info col-md-2" placeholder="Search..">
                        <i class="fas fa-user-plus"></i>
                    </button>
                    </form>
                </div>


            </div>


            <div class="card card-1 col-md-5  ">
                <h2 align="center">Items:</h2>


                <table class="table">
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)

                            </td>

                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Name"><i class="fas fa-edit"></i>||</a><a asp-page="./Details" asp-route-id="@item.Name"><i class="fas fa-info"></i> || </a><a asp-page="./Delete" asp-route-id="@item.Name"><i class="fas fa-trash-alt"></i>  </a>
                            </td>
                        </tr>
                    }

                </table>
                <br>

                @*
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> /  <a asp-page="./Details" asp-route-id="@item.ID">Details</a> /  <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>                     *@







                @*@if (Model.Persons == null)
                    {
                    }
                    else
                    {
                        @foreach (var person in Model.Persons)
                        {
                            <li>@Html.DisplayFor(modelItem => person.name)</li>
                        }
                    }*@

                <div class=" row d-flex justify-content-center align-self-end ">

                    
                    
                    
                    
                    
                    <a class="nav-link text-white btn btn-info btn-lg " asp-area=""  data-toggle="modal" data-target="#myModal">Add</a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="mr-auto"> Add item to list</h1>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                                                            
                                                        </div>
                    
                                                        <ul class="two-column">
                                                        </ul>
                    
                                                        <ul class="two-column">
                                                            <form method="post">
                                                                <div>
                                                                    <div class="form-group">
                                                                        <label asp-for="Item.Name">Name of item:</label>
                                                                        <span class="subtitle"><input asp-for="Item.Name" class="form-control form-control-sm" /></span>
                                                                        <span asp-validation-for="Item.Name"></span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <label asp-for="Item.owner">Responsible person:</label>
                                                                        <span class="subtitle"><input asp-for="Item.owner" class="form-control form-control-sm" /></span>
                                                                        <span asp-validation-for="Item.owner"></span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <label asp-for="Item.Price">Price:</label>
                                                                        <span class="subtitle"><input asp-for="Item.Price" class="form-control form-control-sm" /></span>
                                                                        <span asp-validation-for="Item.Price"></span>
                                                                    </div>
                                                                </div>

                                                                <div>
                                                                    <div >
                                                                        <p class="actions">
                                                                            <input type="hidden" asp-for="Item"/>
                                                                            <button type="submit" class="btn btn-default">Add</button>
                                                                        </p>
                                                                    </div>
                                                                </div>
                    
                    
                                                               
                    
                                                            </form>
                                                        </ul>
                    
                                                    </div>
                                                </div></div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div>


                </div>


            </div>
            
            <form>
            <button  class="btn pmd-btn-fab pmd-ripple-effect btn-info float-right float-button" type="button" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); ">
                <i class="fas fa-save"></i>
            </button>
            </form>
                
            
        
    
        
        </div>
        
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        
        
       
         
    </script>
</body>

</html>